body {
    margin: 0;
    padding: 0;
    background-color: #F1ECC4;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 40px;
    color: #31231E;
}

.content {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1:hover {
    color: #5A3A31;
}